<div class="page-wrapper chiller-theme toggled">
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li>
            <a routerLink="/security">
              <i class="fa fa-book"></i>
              <span>Security Policies</span>
            </a>
          </li>
          <li>
            <a routerLink="/planning">
              <i class="fa fa-calendar"></i>
              <span>Planning</span>
            </a>
          </li>
          <li>
            <a routerLink="/audit">
              <i class="fa fa-folder"></i>
              <span>Audit</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->

  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Audit</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p> In this section you can find all the rules and safety policies of the "Care4You Company"</p>
        </div>
      </div>
      <hr>
      <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://user-images.githubusercontent.com/25878302/53659076-e2204680-3c5a-11e9-8c00-0c10bcd945e6.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar">
            <div class="card-body text-center">
              <h6 class="card-title">Trainings</h6>
              <a href=" " target="_blank" class="btn btn-primary btn-sm">Report</a>
              <a href=" " target="_blank" class="btn btn-success btn-sm">Preview</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://user-images.githubusercontent.com/25878302/53659497-016ba380-3c5c-11e9-8dfd-4901ddaf090b.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar">
            <div class="card-body text-center">
              <h6 class="card-title">Security plans</h6>
              <a href=" " target="_blank" class="btn btn-primary btn-sm">Report</a>
              <a href=" " target="_blank" class="btn btn-success btn-sm">Preview</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
